<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库管理系统</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/hp-layui.css" />
    <link rel="stylesheet" href="__LAYUIEXT__/dtree/dtree.css"><!--dtree树-->
    <link rel="stylesheet" href="__LAYUIEXT__/dtree/font/dtreefont.css"><!--dtree树-->
    <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.css"><!--fontAwesome图标库-->
    <link rel="stylesheet" href="../../static/cropper/ImgCropping.css" ><!--图片裁剪组件-->
    <link rel="stylesheet" href="../../static/cropper/cropper.min.css" ><!--图片裁剪组件-->
    <link rel="stylesheet" href="../../static/viewer/viewer.css" ><!--图片查看器-->
</head>
