{include file="public/header" /}
<body>
<form class="layui-form layui-form-pane" action="" style="padding: 30px 30px">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">供应商</label>
            <div class="layui-input-inline">
                <select name="providerid" id="search_providerid" lay-filter="providerid" lay-verify="required">
                    <option  value="">选择供应商</option>
                    {volist name="search_provider" id="v"}
                    <option value="{$key}">{$v}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <select name="goodsid" id="goodsid" lay-verify="required">
                    <option  value="">请先选择供应商</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进货数量</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input"  name="number" lay-verify="required|number" placeholder="请输入商品进货数量">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">进货价格/元</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="inportprice" lay-verify="required|number" placeholder="请输入商品进货价格">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">进货时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="inporttime" lay-verify="required" onfocus="wk.lay_date(this);" placeholder="请输入进货时间">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">支付类型</label>
                <div class="layui-input-block">
                <input type="radio" name="paytype" value="支付宝" title="支付宝" checked>
                <input type="radio" name="paytype" value="微信" title="微信">
                <input type="radio" name="paytype" value="信用卡" title="信用卡">
                <input type="radio" name="paytype" value="银联" title="银联">
            </div>
            </div>
        </div>
    </div>
        <div class="layui-form-item">
            <label class="layui-form-label">进货备注</label>
            <div class="layui-input-block">
                <textarea  name="remark" class="layui-textarea"></textarea>
            </div>
        </div>
    <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="add" id="add">提交</button>
        <button class="layui-btn layui-btn-primary" onclick="wk.layer_close('close')">关闭</button>
    </div>
</form>
{include file="public/footer" /}
<script>
    layui.use(['layer','jquery','form'], function(){
        var form=layui.form;

        //监听添加页面的供应商下拉框的改变事件
        form.on('select(providerid)', function(data){
            var providerid=data.value;
            initGoodsSelect(providerid);
        });
        //加载商品下拉列表
        function initGoodsSelect(providerid){
            $.get("admin/inport/loadGoodsByProviderId",{providerid:providerid},function(res){
                if(res.code==200){
                    var data=res.data;
                    var dom=$("#goodsid");
                    var html='<option value="">请选择商品</option>'
                    $.each(data,function(index,item){
                        html+='<option value="'+item.id+'">'+item.goodsname+'</option>'
                    });
                    dom.html(html);
                    form.render("select");
                }else{
                    layer.msg("加载商品下拉列表失败");
                }
            });
        }

        //监听提交事件
        form.on('submit(add)',function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled', 'disabled');
            $.ajax({
                url: "{:url('admin/Inport/add_inport')}",
                type: 'post',
                dataType: 'json',
                data: data.field,
                success: function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg, {icon: 6, time: 1500, shade: 0.1}, function (index) {
                            wk.layer_close();
                        })
                    } else {
                        $(".layui-btn").removeClass('layui-disabled').removeAttr('disabled');
                        layer.msg(res.msg, {icon: 2, time: 1500, shade: 0.1});
                        return false;
                    }
                }
            })
        })
    });
</script>
</body>
</html>