{include file="public/header" /}
<body>
<form class="layui-form layui-form-pane" action="" style="margin-left: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label">父级菜单</label>
        <div class="layui-input-block">
            <input type="hidden" name="pid" id="pid" lay-verify="required" value="{$menu.pid}">
            <ul id="selTree"  class="dtree" data-id="0"></ul>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$menu.id}">
            <input type="text" name="title" lay-verify="required" value="{$menu.title}" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <input type="text" name="icon" lay-verify="required" id="iconPicker" value="{$menu.icon}" lay-filter="iconPicker" class="layui-input" style="display:none">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">节点路径</label>
        <div class="layui-input-block">
            <input type="text" name="href" lay-verify="required" value="{$menu.href}" placeholder="模块/控制器/方法 (一级节点添加“#” 二级节点添加“##”，多个节点英文逗号连接)" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">是否可用</label>
        <div class="layui-input-block">
            <input type="radio" name="available" value="1" title="可用" {if condition="$menu.available eq '1'"} checked {/if}>
            <input type="radio" name="available" value="0" title="不可用" {if condition="$menu.available eq '0'"} checked {/if}>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">是否展开</label>
        <div class="layui-input-block">
            <input type="radio" name="open" value="1" title="展开"  {if condition="$menu.open eq '1'"} checked {/if}>
            <input type="radio" name="open" value="0" title="不展开" {if condition="$menu.open eq '0'"} checked {/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="ordernum"  lay-verify="required" value="{$menu.ordernum}" placeholder="请填写排序值,值越大就靠后" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="edit">提交</button>
        <button class="layui-btn layui-btn-primary" onclick="wk.layer_close('close')">关闭</button>
    </div>
</form>
{include file="public/footer" /}
<script>
    layui.extend({
        dtree: '../../static/layui_ext/dtree/dtree' ,  // {/}的意思即代表采用自有路径，即不跟随 base 路径
        iconPicker:'../../static/layui_ext/iconPicker'
    }).use(['dtree','layer','jquery','form','iconPicker'], function(){
        var dtree = layui.dtree;
        var form=layui.form;
        var iconPicker=layui.iconPicker;
        var layer=layui.layer;
        //初始化下拉树
        var selectTree=dtree.renderSelect({
            elem: "#selTree",
            width: "100%", // 可以在这里指定树的宽度来填满div
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            dataFormat: "list",  //配置data的风格为list
            response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
            menubar: true, //开启菜单栏
            url: "admin/menu/json" ,// 使用url加载（可与data加载同时存在）
            selectInitVal: "{$menu.pid}",//指定默认值
        });

        //监听点击的方法
        dtree.on("node(selTree)" ,function(obj){
            $("#pid").val(obj.param.nodeId);
            console.log(obj.param.nodeId); // 点击当前节点传递的参数
        });

        //图标选择器
        iconPicker.render({
            elem: '#iconPicker',// 选择器，推荐使用input
            type: 'fontClass',// 数据类型：fontClass/unicode，推荐使用fontClass
            search: true,// 是否开启搜索：true/false
            page: true,// 是否开启分页
            limit: 30,// 每页显示数量，默认16。 注: page为true生效
            select:false,// 是否开启多选 true/false
            click: function (data) { // 点击回调
                console.log(data);
            }
        });
        //选中图标
        iconPicker.checkIcon('iconPicker', '{$menu.icon}');

        //监听提交事件
        form.on('submit(edit)',function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled', 'disabled');
            $.ajax({
                url: "{:url('admin/Menu/edit_menu')}",
                type: 'post',
                dataType: 'json',
                data: data.field,
                success: function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg, {icon: 6, time: 1500, shade: 0.1}, function (index) {
                            wk.layer_close('dtree');
                        })
                    } else {
                        $(".layui-btn").removeClass('layui-disabled').removeAttr('disabled');
                        layer.msg(res.msg, {icon: 2, time: 1500, shade: 0.1});
                        return false;
                    }
                }
            })
        })
    });
</script>
</body>
</html>