{include file="public/header" /}
<body>
<form class="layui-form layui-form-pane" action="" style="margin-left: 80px">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-inline">
                <input type="hidden" name="deptid" id="deptid" value="{$user.deptid}" lay-verify="required">
                <ul id="deptTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">排序码</label>
            <div class="layui-input-inline">
                <input type="text" name="ordernum" id="ordernum" value="{$user.ordernum}" lay-verify="required|number"  autocomplete="off" placeholder="请输入排序码[>0]" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">领导部门</label>
            <div class="layui-input-inline">
                <ul id="leaderdeptTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">直属领导</label>
            <div class="layui-input-inline">
                <select name="pid" id="pid">
                    <option value="">请选择直属领导</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <input type="hidden" name="id" value="{$user.id}">
                <input type="text" name="name" id="username" value="{$user.name}" lay-verify="required" autocomplete="off" placeholder="请输入用户姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">登陆名</label>
            <div class="layui-input-inline">
                <input type="text" name="loginname" id="loginname" value="{$user.loginname}" lay-verify="required"  autocomplete="off" placeholder="请输入登陆名称" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" lay-verify="required" value="{$user.address}" autocomplete="off" placeholder="请输入用户地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入职时间</label>
        <div class="layui-input-block">
            <input type="text" name="hiredate"  value="{$user.hiredate}" onfocus="wk.lay_date(this);" lay-verify="required" autocomplete="off" placeholder="请输入入职时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="0" title="男" {if condition="$user.sex eq '0'"} checked {/if}>
            <input type="radio" name="sex" value="1" title="女" {if condition="$user.sex eq '1'"} checked {/if}>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">是否可用</label>
        <div class="layui-input-block">
            <input type="radio" name="available" value="1" title="可用" {if condition="$user.available eq '1'"} checked {/if}>
            <input type="radio" name="available" value="0" title="不可用" {if condition="$user.available eq '0'"} checked {/if}>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">角色备注</label>
        <div class="layui-input-block">
            <textarea placeholder="不填请留空" name="remark" class="layui-textarea">{$user.remark}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-center">
        <button class="layui-btn" lay-submit="" lay-filter="edit">提交</button>
        <button class="layui-btn layui-btn-primary" onclick="wk.layer_close('close')">关闭</button>
    </div>
</form>
{include file="public/footer" /}
<script>
    layui.extend({
        dtree: '../../static/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['layer','form','dtree'], function(){
        var form=layui.form;
        var dtree=layui.dtree;

        // 初始化父级部门树
        var deptTree= dtree.renderSelect({
            elem: "#deptTree",
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            dataFormat: "list",  //配置data的风格为list
            response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
            url: "admin/dept/json" ,// 使用url加载（可与data加载同时存在）
            selectInitVal: "{$user.deptid}",//指定默认值
        });

        // 绑定节点点击
        dtree.on("node(deptTree)" ,function(obj){
            $("#deptid").val(obj.param.nodeId);
        });

        // 初始化领导部门树
        var leaderdeptTree= dtree.renderSelect({
            elem: "#leaderdeptTree",
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            dataFormat: "list",  //配置data的风格为list
            response:{message:"msg",statusCode:0},  //修改response中返回数据的定义
            url: "admin/dept/json", // 使用url加载（可与data加载同时存在）
            selectInitVal: "{$deptid}",//指定默认值
        });

        //根据部门ID查询当前部门下面的领导列表
        var deptid={$deptid};
        console.log(deptid);
        if(deptid!=0){
            $.get("admin/user/loadUsersByDeptId",{deptid:deptid},function(res){
                if(res.code==200){
                    var users=res.data;
                    var dom_mgr=$("#pid");
                    var html="<option value=''>请选择直属领导</option>";
                    $.each(users,function(index,item){
                        html+="<option value='"+item.id+"'>"+item.name+"</option>";
                    });
                    dom_mgr.html(html);
                    //选中一个
                    dom_mgr.val({$user.pid});
                    //重新渲染
                    form.render("select");
                }else{
                    layer.msg('获取领导列表失败');
                }
            });
        }

        // 绑定节点点击
        dtree.on("node(leaderdeptTree)" ,function(obj){
            var deptid=obj.param.nodeId;
            //根据部门ID查询当前部门下面的领导列表
            $.get("admin/user/loadUsersByDeptId",{deptid:deptid},function(res){
                if(res.code==200){
                    var users=res.data;
                    var dom_mgr=$("#pid");
                    var html="<option value=''>请选择直属领导</option>";
                    $.each(users,function(index,item){
                        html+="<option value='"+item.id+"'>"+item.name+"</option>";
                    });
                    dom_mgr.html(html);
                    //重新渲染
                    form.render("select");
                }else{
                    layer.msg('获取领导列表失败');
                }
            });
        });

        //监听提交事件
        form.on('submit(edit)',function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled', 'disabled');
            $.ajax({
                url: "{:url('admin/User/edit_user')}",
                type: 'post',
                dataType: 'json',
                data: data.field,
                success: function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg, {icon: 6, time: 1500, shade: 0.1}, function (index) {
                            wk.layer_close();
                        })
                    } else {
                        $(".layui-btn").removeClass('layui-disabled').removeAttr('disabled');
                        layer.msg(res.msg, {icon: 2, time: 1500, shade: 0.1});
                        return false;
                    }
                }
            })
        })
    });
</script>
</body>
</html>