{include file="public/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="providername" placeholder="供应商名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="providerphone" placeholder="供应商电话" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="address" placeholder="地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="connectionperson" placeholder="联系人" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="bank" placeholder="开户行" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="LAY-search">立即搜索</button>
                        <button  class="layui-btn layui-btn-normal" id="empty"  lay-submit="" lay-filter="LAY-search">重置</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="LAY-table-manage" lay-filter="LAY-table-manage" style="margin-top: 25px"></table>
            <!--头部工具栏-->
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn" lay-event="addProvider">
                        <i class="layui-icon">&#xe624;</i>添加供应商
                    </button>
                    <button type="button" class="layui-btn layui-btn-danger" lay-event="batchdel">
                        <i class="layui-icon">&#xe640;</i> 批量删除
                    </button>
                </div>
            </script>
            <!--操作模板-->
            <script type="text/html" id="opeBar">
                <button type="button"  title="编辑" class="layui-btn layui-btn-xs" onclick="wk.layer_show('编辑供应商信息','{:url('admin/provider/edit_provider')}?id={{d.id}}','500','600')"><span class="layui-icon layui-icon-edit"></span></button>
                <button type="button"  title="删除" class="layui-btn layui-btn-xs layui-btn-danger" onclick="wk.confirm('{{d.id}}','{:url('DeleteProvider')}')"><span class="layui-icon layui-icon-delete"></span></button>
            </script>
            <!--状态模板-->
            <script type="text/html" id="staBar">
                <input type="checkbox" value="{{d.id}}"  lay-skin="switch"  lay-text="可用|不可用" lay-filter="OnOff"{{ d.available == 1 ? 'checked' : '' }}  >
            </script>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    var tableIns;
    layui.use(['table','form'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
        tableIns=table.render({
            elem: '#LAY-table-manage'
            , url: '{:url("admin/Provider/provider")}'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,response: {
                statusCode: 220 //成功的状态码，默认：0
            }
            , page: true
            , even: true //开启隔行背景
            , size: 'lg' //sm小尺寸的表格 lg大尺寸
            // ,width:100
            , autoSort: false
            , height: "full-100"
            , cellMinWidth: 150
            , limits: [10, 20, 30, 40, 50]
            , limit: 10
            , loading: true
            , id: 'LAY-table'
            , title:'供应商数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left',}
                ,{field:'id', title:'ID',align:'center',sort: true}
                ,{field:'providername', title:'供应商名称',align:'center',sort: true}
                ,{field:'zip', title:'邮编',align:'center'}
                ,{field:'address', title:'地址',align:'center'}
                ,{field:'providerphone', title:'供应商电话',align:'center'}
                ,{field:'connectionperson', title:'联系人',align:'center'}
                ,{field:'phone', title:'联系人电话',align:'center'}
                ,{field:'bank', title:'开户行',align:'center'}
                ,{field:'bankaccountnumber', title:'银行卡账号',align:'center'}
                ,{field:'email', title:'邮箱',align:'center'}
                ,{field:'fax', title:'传真',align:'center'}
                ,{field:'available',fixed:'right', title:'是否可用',align:'center',templet:"#staBar"}
                ,{fixed: 'right', title:'操作', toolbar: '#opeBar',align:'center'}
            ]]
            ,done: function(res, curr, count){ //处理删除某一页最后一条数据的BUG
                if(res.data.length==0&&curr!=1){
                    tableIns.reload({
                        page:{
                            curr:(curr-1)
                        }
                    });
                }
            }
        });

        //监听可用开关操作
        form.on('switch(OnOff)', function (obj) {
            var available = '';
            obj.elem.checked == true? available = 1: available = 0;
            //供应商可用状态
            wk.state(this.value,available, '{:url("provider_state")}',obj);
        });

        //事件
        table.on('toolbar(LAY-table-manage)', function(obj) {
            //批量删除
            if (obj.event == 'batchdel') {
                wk.batchDel(getIds(), "{:url('admin/Provider/batchDelProvider')}");
            }
            //添加供应商
            if(obj.event=='addProvider'){
                wk.layer_show("添加供应商","{:url('admin/Provider/add_provider')}","500","600");
            }
        });
        var getIds = function () {
            var ids = [];
            var checkStatus = table.checkStatus('LAY-table')
                ,data = checkStatus.data;
            $.each(data,function(index,item){
                ids.push(item['id'])
            });
            return ids;
        }
    });

    //给其它页面刷新当前页面数据表格的方法
    function reloadTable(id){
        tableIns.reload({
            where:{
                id:id
            },
            page:{
                curr:1
            }
        });
    }
</script>
</body>
</html>