{include file="public/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- 查询条件开始 -->
        <blockquote class="layui-elem-quote">
            <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-inline">
                            <select name="goodsid" id="search_goodsid">
                                <option  value="">选择商品</option>
                                {volist name="search_goods" id="v"}
                                <option value="{$key}">{$v}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">客户名称</label>
                        <div class="layui-input-inline">
                            <select name="customerid">
                                <option  value="">选择商品</option>
                                {volist name="search_customer" id="v"}
                                <option value="{$key}">{$v}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">销售时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="start" readonly="readonly"  onfocus="wk.lay_date(this);" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">操作员</label>
                        <div class="layui-input-inline">
                            <input type="text" name="operateperson"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            <input type="text" name="remark"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input type="text"  name="end" readonly="readonly"  onfocus="wk.lay_date(this);"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align: center;">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="LAY-search"><span class="layui-icon layui-icon-search"></span>查询</button>
                        <button  lay-filter="LAY-search" id="empty" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
                    </div>
                </div>
            </form>
        </blockquote>
        <!-- 查询条件结束-->
        <div class="layui-card-body">
            <table id="LAY-table-manage" lay-filter="LAY-table-manage"></table>
            <!--头部工具栏-->
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn" lay-event="addsale">
                        <i class="layui-icon">&#xe624;</i>添加商品销售
                    </button>
                    <button type="button" class="layui-btn layui-btn-danger" lay-event="batchdel">
                        <i class="layui-icon">&#xe640;</i> 批量删除
                    </button>
                </div>
            </script>
            <!--操作模板-->
            <script type="text/html" id="opeBar">
                <button type="button"  title="编辑" class="layui-btn layui-btn-xs" onclick="wk.layer_show('编辑商品销售信息','{:url('admin/sale/edit_sale')}?id={{d.id}}')"><span class="layui-icon layui-icon-edit"></span></button>
                <button type="button"  title="删除" class="layui-btn layui-btn-xs layui-btn-danger" onclick="wk.confirm('{{d.id}}','{:url('DeleteSale')}')"><span class="layui-icon layui-icon-delete"></span></button>
                <button type="button"  title="商品退货" lay-event="back" class="layui-btn layui-btn-xs  layui-btn-warm"><span class="layui-icon layui-icon-next"></span></button>
            </script>
        </div>
        <!-- 退货的弹出层开始 -->
        <div id="backGoodsDiv" style="display: none;padding: 5px">
            <form action="" method="post" class="layui-form layui-form-pane" id="dataBackFrm" lay-filter="dataBackFrm">
                <div class="layui-form-item">
                    <label class="layui-form-label">退货数量</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="id"> <!-- 销售单ID -->
                        <input type="hidden" name="currentnumber" id="currentnumber"> <!-- 当前销售单的数量 -->
                        <input type="text" class="layui-input"  name="number" lay-verify="required|checknumber" placeholder="请输入退货数量">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">退货原因</label>
                    <div class="layui-input-block">
                        <textarea  name="remark" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align: center;">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="doBackSubmit" id="doBackSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                        <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 退货的弹出层结束 -->
    </div>
</div>

{include file="public/footer" /}
<script>
    var tableIns;
    layui.use(['table','form'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
        tableIns=table.render({
            elem: '#LAY-table-manage'
            , url: '{:url("admin/sale/sale")}'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,response: {
                statusCode: 220 //成功的状态码，默认：0
            }
            , page: true
            , even: true //开启隔行背景
            , size: 'lg' //sm小尺寸的表格 lg大尺寸
            // ,width:100
            , autoSort: false
            , height: "full-100"
            , cellMinWidth: 150
            , limits: [10, 20, 30, 40, 50]
            , limit: 10
            , loading: true
            , id: 'LAY-table'
            , title:'商品销售数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left',}
                ,{field:'id', title:'销售单ID',align:'center',sort: true}
                ,{field:'goodsid', title:'商品名称',align:'center',templet:"<div>{{d.goods.goodsname}}</div>"}
                ,{field:'customerid', title:'客户名称',align:'center',templet:"<div>{{d.customer.customername}}</div>"}
                ,{field:'operateperson', title:'操作员',align:'center'}
                ,{field:'remark', title:'备注',align:'center'}
                ,{field:'number', title:'销售数量',align:'center'}
                ,{field:'saleprice', title:'销售价格/元',align:'center'}
                ,{field:'paytype', title:'支付类型',align:'center'}
                ,{field:'salestime', fixed:'right',title:'销售时间',align:'center',width:200}
                ,{fixed: 'right', title:'操作', width:'200',toolbar: '#opeBar',align:'center'}
            ]]
            ,done: function(res, curr, count){ //处理删除某一页最后一条数据的BUG
                if(res.data.length==0&&curr!=1){
                    tableIns.reload({
                        page:{
                            curr:(curr-1)
                        }
                    });
                }
            }
        });

        //事件
        table.on('toolbar(LAY-table-manage)', function(obj) {
            //批量删除
            if (obj.event == 'batchdel') {
                wk.batchDel(getIds(), "{:url('admin/sale/batchDelSale')}");
            }
            //添加商品销售
            if(obj.event=='addsale'){
                wk.layer_show("添加商品销售","{:url('admin/sale/add_sale')}");
            }
        });
        var getIds = function () {
            var ids = [];
            var checkStatus = table.checkStatus('LAY-table')
                ,data = checkStatus.data;
            $.each(data,function(index,item){
                ids.push(item['id'])
            });
            return ids;
        }

        //监听行工具条的事件
        table.on("tool(LAY-table-manage)",function(obj){
            var data = obj.data; //获得当前行数据
            switch(obj.event){
                case 'back':
                    back(data);
                    break;
            };
        });

        //打开退货的弹出层
        var mainIndex='';
        function back(data){
             mainIndex=layer.open({
                type:1,
                content:$("#backGoodsDiv"),
                area:['800px','500px'],
                title:'商品退货',
                success:function(){
                    $("#dataBackFrm")[0].reset();
                    //装载新的数据
                    form.val("dataBackFrm",{id:data.id,currentnumber:data.number});
                }
            });
        }

        //自定义验证规则
        form.verify({
            checknumber: function(value){
                var currentnumber=parseInt($("#currentnumber").val());
                if(parseInt(value)>currentnumber||parseInt(value)<1){
                    return '退货数量只能在【0】-【'+currentnumber+"】数量之间";
                }
            }
        });

        //退货提交
        form.on("submit(doBackSubmit)",function(data){
            $.post("admin/sale/backGoods",data.field,function(res){
                if(res.code==1){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            return false;
        });
    });

    //给其它页面刷新当前页面数据表格的方法
    function reloadTable(id){
        tableIns.reload({
            where:{
                id:id
            },
            page:{
                curr:1
            }
        });
    }
</script>
</body>
</html>